.formContainer {
  padding: 48px 32px;
  margin: 91px auto;
  border-radius: 32px;
  background-color: var(--light-beige);
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  max-width: 362px;
  max-height: 399px;
  width: 100%;
}

.title {
  font-weight: var(--font-weight-semibold);
  font-size: 32px;
  text-align: center;
  color: var(--black);
}

.form {
  display: flex;
  flex-direction: column;
}

.fieldGroup {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.mb {
  margin-bottom: 16px;
}

.label {
  font-weight: var(--font-weight-regular);
  font-size: 12px;
  color: var(--black);
}

.input {
  padding: 8px;
  border: 1px solid var(--light-gray);
  border-radius: 8px;
  font-weight: var(--font-weight-regular);
  font-size: 16px;
  width: 100%;
  height: 41px;
  background-color: var(--white);
  box-sizing: border-box;
}

.error {
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: var(--font-weight-regular);
  font-size: 12px;
  color: var(--red);
  transform: translateY(100%);
}

.button {
  padding: 8px;
  background-color: var(--light-brown);
  color: var(--white);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: var(--font-weight-semibold);
  font-size: 16px;
  width: 100%;
  height: 36px;
  outline: none;
  transition: background-color 200ms ease-in-out;
  margin-top: 27px;
}

.button:focus,
.button:hover {
  background-color: var(--brown);
}

.button:active {
  box-shadow:
    0 0 0 6px rgba(78, 70, 180, 0.12),
    0 0 0 2px var(--white);
  outline: 3px solid white;
}

.button:disabled {
  background-color: var(--light-brown);
  cursor: not-allowed;
  opacity: 0.3;
  box-shadow:
    0 0 0 6px rgba(78, 70, 180, 0.12),
    0 0 0 2px var(--white);
}

.registerwrapp {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4px;
  font-weight: var(--font-weight-regular);
  font-size: 16px;
  line-height: 1.55;
  text-align: center;
  color: var(--black);
}

.registerwrapp_link {
  font-weight: var(--font-weight-semibold);
  text-decoration: underline;
}

@media (min-width: 768px) {
  .formContainer {
    max-width: 522px;
    margin: 262px auto;
  }
}

@media (min-width: 1440px) {
  .formContainer {
    max-width: 420px;
    margin: 176px auto 156px auto;
  }
}
