.wrapper {
  position: relative;
  width: 100%;
  height: 360px;
  border-radius: 16px;
  overflow: hidden;
}

.image {
  object-fit: cover;
}
.wrapper {
  position: relative;
  width: 100%;
  height: 360px;
  border-radius: 16px;
  overflow: hidden;
}

.image {
  object-fit: cover;
}

