
.container {
  display: flex;             
  justify-content: center; 
 
  margin-bottom: 60px; 
    width: 100%; 
     padding: 20px 0;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #9b6c43;      
  color: #fff;
  font-weight: 600;
  font-size: 18px;        
  border: none;
  border-radius: 8px;       
  padding: 16px; 
        max-width: 100%;      
 width: 372px;            
  height: 54px;            
  cursor: pointer;
  transition: all 0.3s ease;


}

.button:hover {
  background-color:  #6d554b;
}

.button:active {
box-shadow: 0 0 0 6px rgba(78, 70, 180, 0.12), 0 0 0 2px #fff;
background: #9b6c43;
opacity: 0.3;
}


.button:disabled {
  opacity: 0.6;
   cursor: not-allowed; 
}

@media screen and (min-width: 768px) {
  .button {
    width: 340px;
  }
  }

 @media screen and (min-width: 1440px) {
 .button {
   width: 289px;
  }
}
